<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Confirmados</th>
      <th>Mortes</th>
    </tr>
  </thead>
  <tbody>
    <% @report.each do |row| %>
      <tr>
        <td><%= row.reported_at %></td>
        <td><%= row.confirmed %></td>
        <td><%= row.deaths %></td>
      </tr>
    <% end %>
  </tbody>
</table>
