@import "sass-zero/variables";

.card {
  padding: $size-8 $size-4;
  box-shadow: $shadow-lg;
  border-width: $border;
  border-radius: $rounded;
  text-align: center;

  &__title {
    font-size: $text-base;
    letter-spacing: $tracking-wider;
    text-transform: uppercase;
    color: $gray-500;
  }

  &__content {
    font-size: $text-2xl;
    font-weight: $font-bold;
  }
}
