@import "sass-zero/variables";
@import "sass-zero/mixins";

.navigation {
  box-shadow: $shadow;
  position: fixed;
  z-index: $z-10;
  width: $size-full;
  background-color: $white;

  &__title {
    font-size: $text-xl;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: $size-4;
    padding-bottom: $size-4;
    @include make-container($size-10, $breakpoint-lg);
  }
}

@media (max-width: $breakpoint-md - 1) {
  .navigation {
    &__container {
      padding: $size-4 $size-2;
    }

    &__content {
      display: none !important;
    }
  }
}
