<div class="navigation">
  <div class="navigation__container">
    <div class="navigation__title">
      <%= link_to 'Profeta do Corona', root_path %>
    </div>
    <div class="navigation__content">
      <a href="https://www.github.com/lazaronixon/corona-prophet" class="btn btn--secondary btn--small flush--bottom">🔗 Código Fonte</a>
      <a href="https://brasil.io/dataset/covid19/caso" class="btn btn--secondary btn--small flush--bottom">🔗 Data Source</a>
    </div>
  </div>
</div>
